-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: paiflow-agent
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `paiflow-agent`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `paiflow-agent` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `paiflow-agent`;

--
-- Table structure for table `bot_config`
--

DROP TABLE IF EXISTS `bot_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bot_config` (
  `id` bigint NOT NULL COMMENT '涓婚敭id',
  `app_id` varchar(32) NOT NULL COMMENT '搴旂敤id',
  `bot_id` varchar(40) NOT NULL COMMENT 'bot_id',
  `knowledge_config` json NOT NULL COMMENT '鐭ヨ瘑搴撳弬鏁伴厤缃?,
  `model_config` json NOT NULL COMMENT '妯″瀷閰嶇疆',
  `regular_config` json NOT NULL COMMENT '鐭ヨ瘑搴撻€夋嫨閰嶇疆',
  `tool_ids` json NOT NULL COMMENT '宸ュ叿id閰嶇疆',
  `mcp_server_ids` json NOT NULL COMMENT 'mcp server id閰嶇疆',
  `mcp_server_urls` json NOT NULL COMMENT 'mcp server url閰嶇疆',
  `flow_ids` json NOT NULL COMMENT 'flow id閰嶇疆',
  `create_at` datetime NOT NULL COMMENT '鍒涘缓鏃堕棿',
  `update_at` datetime NOT NULL COMMENT '鏇存柊鏃堕棿',
  `is_deleted` tinyint NOT NULL COMMENT '鏄惁鍒犻櫎',
  PRIMARY KEY (`id`),
  KEY `union_app_bot` (`app_id`,`bot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bot_config`
--

LOCK TABLES `bot_config` WRITE;
/*!40000 ALTER TABLE `bot_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `bot_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'paiflow-agent'
--

--
-- Dumping routines for database 'paiflow-agent'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-27  8:50:16
